body{
    font-family: 'Roboto', sans-serif;
    }
 .container-wrapper{}


 .container-wrapper-red{}   
    
.alert-container.col-12{
padding-left: 0; 
padding-right: 0;

} 

.site-wide-alert{
    color: #544600;
     border-radius:0;
     margin-bottom:0;
     padding: 5px 15px;
     background-color:#eec802;
     border-color: #eec802;
     border: 1px solid transparent;
} 





.quotes-container{}
.features-container{} 



.callout-container{   
    height:100vh;
     background: url("/images/whiskey-background.jpg") no-repeat bottom right fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

  display: flex;
  align-items:center;  
  justify-content: center;
  position:relative;
 }

.opaque-overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba (0,0,0,0.5);
}

/*PAGE HEADINGS */

.page-header{
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}
.page-header h2{
    margin-top: 0;
}


/* BLOCK-DIVIDERS */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}
.block-divider-orange{
  background-color: #d39e00;  
}
.block-divider-short{
    width: 35px;
}

/* CONTENT CONTAINERS */

.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}

/* NAVBAR */

.navalert-container {  
    position: absolute; 
    top:0;
    left:0;
    z-index: 1;
    padding-left:0;
    padding-right: 0;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    width:100%;   
    background-color: rgba(0,0,0,0.25);
    }
    
.navbar .navbar-toggler{  
    border:0;
}

.navbar .navbar-brand 
{
    color: #fff;
    font-weight: bold;
}

.navbar.navbar-nav a {
    font-weight:bold;

}

/*jumbotron */

.jumbotron {  
    background-color: transparent;
}
.jumbotron-header {
    color:white;
    font-weight:bold;
    margin-bottom:30px;  
}
.jumbotron small{ 
    font-size:60%;
    font-style:italic;  
    color:lightgoldenrodyellow
}
.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

/* BUTTONS */

.btn-cta {
    font-weight:bold;
    border-radius: 23px;
    width:160px
}
.btn-red {
    color:white;
    background-color:#f05f40;
    border-color:#f05f40;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus{
    background-color:#b12b41;
    border-color:#b12b41; 
}