body{
    font-family: 'Roboto', sans-serif;
    }
    
.alert-container{}  
.quotes-container{}  
.callout-container{   
    height:100vh;
     background: url("/images/whiskey-background.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items:center;
  justify-content: center;
}
.features-container{}

/*&nbspjumbotron */

.jumbotron {  
    background-color: transparent;
}
.jumbotron-header {
    color:white;
    font-weight:bold;
    margin-bottom:30px;  
}
.jumbotron small{ 
    font-size:60%;
    font-style:italic;  
    color:lightgoldenrodyellow
}
.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}
